body {
    background: rgb(5,0,89);
background: radial-gradient(circle, rgba(5,0,82,1) 0%, rgba(0,0,17,1) 100%);
background-repeat: none;
overflow: hidden;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wordmark {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#line {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}